/* .InstanceOverview {
    padding-top: 10px;
} */

.servers {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.server-table {
    padding: 10px 0 10px 0;
    /* margin: auto; */
}

.sharded-cluster-component {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;

    border-left: 50px solid;
    border-right: 50px solid;

    /* border: 2px solid;
    border-radius: 10px; */
}
